body {
    font-family: 'Times New Roman', Times, serif ;
    background-color: #f7f3e8;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f1ebe5;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

    border-radius: 8px;
  }

.header {
    display: flex; 
    align-items: center; 
  }
  
  .logo {
    margin-right: 20px; 
  }
  
  .logo {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  h1 {
    text-align: center;
    color: #715f54;
    margin-bottom: 10px;

  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  
  }
  
  button {
    background-color: #715f54;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }